* {
    margin: 0;
    padding: 0;
    font-size: 10px;
}
body {
    margin: 5px;
}

table.gantt {
}

table.gantt td {
    padding: 2px 0;
}
table.gantt tr.even {
    background-color: #CCCCFF;
}
table.gantt tr.week {
    background-color: #AAAAFF;
}
table.gantt td.week {
    text-align: center;
}
table.gantt tr.week td {
    border-style: solid;
    border-width: 0;
    border-right-width: 1px;
}
table.gantt td.info {
    padding-right: 10px;
    padding-left: 10px;
    border-width: 0 !important;
}
table.gantt td.item {
    border-style: dashed;
    border-width: 0;
    border-left-width: 1px;
    border-right-width: 1px;
}
table.gantt div.item {
    background-color: red;
    position: relative;
    float: left;
}
table.gantt td.duration {
    border-style: dashed;
    border-width: 0;
    border-left-width: 1px;
    text-align: center;
}

